* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  width: 1350px;
  height: 179px;
}
.header .top_wrap {
  width: 1350px;
  height: 36px;
  background: #ccc;
}
.header .top_t {
  width: 1240px;
  height: 36px;
  background: #ccc;
  margin: 0 auto;
}
.header .top_t .left {
  float: left;
}
.header .top_t .left ul li {
  float: left;
  width: 68px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  color: #999;
  cursor: pointer;
}
.header .top_t .left ul li :hover {
  color: #23ac38;
}
.header .top_t .right {
  float: right;
}
.header .top_t .right ul a {
  float: right;
  width: 58px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  color: #999;
  text-decoration: none;
}
.header .top_t .right .hover_color {
  color: #23ac38;
}
.header .top_t .right ul li {
  float: right;
  width: 94px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  color: #999;
  margin-left: 8px;
  cursor: pointer;
}
.header .top_b {
  width: 1240px;
  height: 102px;
  margin: 0 auto;
}
.header .top_b .oImg {
  float: left;
}
.header .top_b .int {
  width: 940px;
  height: 72px;
  float: left;
  padding: 30px 0 0 200px;
}
.header .top_b .int input {
  width: 454px;
  height: 42px;
  float: left;
  padding-left: 10px;
  border: 1px solid #23ac38;
}
.header .top_b .int ul {
  width: 454px;
  padding-left: 10px;
  border: 1px solid #23ac38;
  background: #fff;
  position: absolute;
  top: 108px;
  left: 465px;
  z-index: 300;
  border-top: none;
}
.header .top_b .int ul li {
  margin-bottom: 10px;
}
.header .top_b .int .btn1 {
  width: 72px;
  height: 42px;
  border: none;
  float: left;
  background: #23ac38;
  margin-left: 5px;
}
.header .top_b .int .btn1 span {
  color: #fff;
  font-size: 15px;
}
.header .top_b .int a {
  width: 158px;
  height: 42px;
  float: left;
  display: block;
  margin-left: 10px;
  text-align: center;
  line-height: 42px;
  background: #f9f9f9;
  border: 1px solid #999;
  color: gray;
  text-decoration: none;
  cursor: pointer;
}
.header .top_b .int a i {
  margin-right: 2px;
  color: #23ac38;
}
.header .top_b .ulbox {
  width: 940px;
  height: 21px;
  float: left;
  padding: 5px 0 0 200px;
  text-align: center;
  line-height: 21px;
}
.header .top_b .ulbox ul li {
  float: left;
  width: 70px;
  font-size: 12px;
}
.header .top_b .ulbox ul li a {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.header .banner {
  width: 1240px;
  height: 37px;
  margin: 0 auto;
}
.header .banner a {
  float: left;
  width: 210px;
  height: 41px;
  text-align: center;
  line-height: 37px;
  text-decoration: none;
  cursor: pointer;
  background: #000;
  color: #fff;
  font-size: 15px;
  margin-right: 40px;
}
.header .banner ul li a {
  float: left;
  width: 75px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  color: #323334;
  margin-right: 0;
  font-weight: 500;
  font-size: 16px;
}
.header .banner span {
  margin-right: 10px;
}

/*# sourceMappingURL=cart.css.map */
